*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    position: fixed;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    
    & .tea-logo {
        height: 50px;
        align-self: center;
        margin-left: 10px;
    }

    & nav {
        display:flex;
        align-items: center;

        & a {
            margin: 0 15px;
            text-decoration: underline;
        }
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(69px);
    gap: 70px;

    & .mission {
        height: 700px;
        width: 95%;
        background-image: url("/src/images/img-mission-background.webp");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        & .text {
            padding: 15px;
            width: 100%;
            opacity: 1;

            & h2 {
                font-size: 28px;
                margin-bottom: 15px;
            }
        }
    }

    & .featured-tea {
        width: 80%;

        & h2 {
            font-size: 28px;
            margin-bottom: 15px;
        }

        & .tea-container {
           display: flex;
           flex-wrap: wrap;
           justify-content: center;
           gap: 25px;
           margin-top: 15px;

            & div {

                & img {
                    width: 300px;
                    height: 200px;
                }

                & p {
                    padding-top: 7px;
                    font-weight: bold;
                }
            }
        }
    }
}


